FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MOBILE_APP_ID==
GOOGLE_PLACES_API_KEY=
GOOGLE_GEMINI_API_KEY=
RAPID_API_KEY=
UNSPLASH_ACCESS_KEY=
GOOGLE_SERVICES_PLIST_LOCAL_PATH=/Users/USER_NAME/LOCATION_OF_THE_PROJECT/HolidAI/GoogleService-Info.plist
GOOGLE_SERVICES_JSON_LOCAL_PATH=/Users/USER_NAME/LOCATION_OF_THE_PROJECT/HolidAI/google-services.json
GOOGLE_MAPS_API_KEY_ANDROID=
GOOGLE_MAPS_API_KEY_IOS=
OPEN_AI_API_KEY=
MMKV_ENCRYPTION_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_JWT_ISSUER_DOMAIN=
CONVEX_URL=